.vscode/
migrations/

__pycache__/
*.pyc
*.pyo

venv/

.env
.pem

flask_session/
message_upload/
*.db

*.exe
.ngrok.exe.old

.DS_Store
Thumbs.db

.elasticbeanstalk/app_versions/
.elasticbeanstalk/*
.elasticbeanstalk/*.cfg.yml
.elasticbeanstalk/*.global.yml

*.mov
*.avi
*.mkv
*.webm
*.zip

emoji/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd