.desktop-18 .screenshot-3151 {
  filter: blur(10px);
  background: url('../assets/images/screenshot_3151.png') 50% / cover no-repeat;
  position: absolute;
  right: -268px;
  bottom: -69px;
  width: 1546px;
  height: 1227px;
}
.desktop-18 .zcash-logo-1 {
  background: url('../assets/images/zcash_logo_11.gif');
  margin-right: 1.8px;
  width: 36px;
  height: 45px;
}
.desktop-18 .chat {
  margin: 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 30px;
  text-transform: capitalize;
  color: #F3B724;
}
.desktop-18 .group-274 {
  margin: 0 31.9px 28px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .vector {
  margin: 0 10px 2px 0;
  width: 18px;
  height: 18px;
}
.desktop-18 .dashboard {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #2D2626;
}
.desktop-18 .container-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F2EFEF;
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  padding: 22px 0 18px 0;
  width: 220px;
  box-sizing: border-box;
}
.desktop-18 .vector-1 {
  margin: 0 10px 2px 0;
  width: 18px;
  height: 18px;
}
.desktop-18 .profile {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #2D2626;
}
.desktop-18 .profile-1 {
  margin: 0 42.9px 34px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .vector-3 {
  margin: 0 10px 3px 0;
  width: 18px;
  height: 18px;
}
.desktop-18 .messages {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #2D2626;
}
.desktop-18 .messages-1 {
  margin: 0 15.5px 34px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .vector-6 {
  margin: 0 10px 4px 0;
  width: 18px;
  height: 18px;
}
.desktop-18 .wallet {
  margin-top: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #2D2626;
}
.desktop-18 .wallet-1 {
  margin: 0 42.9px 34px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .vector-2 {
  margin: 0 10px 3px 0;
  width: 18px;
  height: 18px;
}
.desktop-18 .markets {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #2D2626;
}
.desktop-18 .market {
  margin: 0 29.7px 35px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .vector-4 {
  margin: 1px 10px 3px 0;
  width: 20px;
  height: 16px;
}
.desktop-18 .transactions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #2D2626;
}
.desktop-18 .transactions-1 {
  margin: 0 0 34px 8.7px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .vector-5 {
  margin: 0 10px 3px 0;
  width: 18px;
  height: 18px;
}
.desktop-18 .settings {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #2D2626;
}
.desktop-18 .settings-1 {
  margin-right: 27.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .component-14 {
  margin: 0 0 42px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  box-sizing: border-box;
}
.desktop-18 .rectangle-1232 {
  border-radius: 28px;
  background: #F0EBEB;
  margin: 0 7px 29px 0;
  width: 220px;
  height: 5px;
}
.desktop-18 .help-icon {
  margin: 2px 10px 1px 0;
  width: 17px;
  height: 17px;
}
.desktop-18 .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #1C1919;
}
.desktop-18 .help-btn {
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .vector-10 {
  margin: 1px 10px 1px 0;
  width: 18px;
  height: 18px;
}
.desktop-18 .log-out {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #1C1919;
}
.desktop-18 .log-out-btn {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .component-15 {
  margin-right: 13.8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .container {
  background: #F1FCFD;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 98px 0 580px 0;
  width: 321px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-18 .vector-11 {
  width: 20px;
  height: 20px;
}
.desktop-18 .balance-icon {
  border-radius: 10px;
  background: #D9D9D9;
  position: relative;
  margin-right: 9.5px;
  display: flex;
  padding: 12px 14px;
  width: 48px;
  height: 44px;
  box-sizing: border-box;
}
.desktop-18 .balance {
  margin: 14px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.desktop-18 .balance-dashboard {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-18 .vector-12 {
  margin: 12px 0 17px 0;
  width: 20px;
  height: 15px;
}
.desktop-18 .container-2 {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 310px;
  box-sizing: border-box;
}
.desktop-18 .container {
  margin: 0 9px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 45px;
  color: #000000;
}
.desktop-18 .container-1 {
  margin: 5.5px 28.5px 5.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.desktop-18 .profit {
  margin: 10px 5.7px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.desktop-18 .container-2 {
  margin: 10px 5.3px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #2BAEBA;
}
.desktop-18 .container-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #2BAEBA;
}
.desktop-18 .frame-427320504 {
  border-radius: 18px;
  background: rgba(43, 174, 186, 0.26);
  display: flex;
  padding: 10px 10.1px;
  box-sizing: border-box;
}
.desktop-18 .frame-427320505 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-18 .frame-427320506 {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-18 .component-20 {
  box-shadow: inset 2px 4px 2px -1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: #F9EED6;
  position: absolute;
  left: 348px;
  top: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 0 20px;
  height: 200px;
  box-sizing: border-box;
}
.desktop-18 {
  background: #FFFFFF;
  width: 1440px;
  box-sizing: border-box;
}
